# OS-specific files
.DS_Store

# Ignore files associated with EasyABC
tolerance_step*
p_acc_*step*
model*step*
output*step*
n_simul*step*

# Ignore csv files in results folder
results/*.csv

# Ignore log folder
log

results/*.png
data/*.xlsx
data/*.csv

tests/data/*.csv
tests/data/*.xlsx

parameters/*.csv
